* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/img/fundo2.jpg);
  font-family: cursive, Helvetica;
}

h1 {
  margin-bottom: 20px;
  padding: 15px 0;
  text-align: center;
  color: antiquewhite;
  background: linear-gradient(black,rgb(14, 94, 105));
}

fieldset {
  max-width: 700px;
  width: 92%;
  height: 300px;
  background: url(/img/fundo1.jpg);
  margin: 20px;
}

.centro {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  margin: 125px 0;
  border: wheat 1px solid;
  font-size: 22px;
  text-decoration: none !important;
  background-color: azure;
  color: chocolate;
  padding: 0 20px;
  padding-top: 7px;
  height: 50px;
  text-transform: uppercase;
  box-shadow: 5px 5px 10px rgba(185, 178, 167, 0.7);
}

a:hover {
  padding: 10px 35px;
  background: linear-gradient(rgb(42, 178, 32), sienna);
  color: black;
  transition: 0.5s;
}
